html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 100%;
}

/*--------------------------------------- Start Scroll ------------------------------ */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #78807c;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7196bd;
    border-radius: 5px;
    /*width: 13px;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #16579c;
}

/*--------------------------------------- End Scroll ----------------------------------- */
@media (max-width: 991px) {
    .header {
        height: 150vh;
    }

    #navbarNavDropdown {
        margin-top: 5px;
        padding: 10px;
        opacity: 0.7;
        color: #1d1d1d;
    }

    #navbarNavDropdown .navbar-nav {
        background-color: #7196BD;
        padding: 20px;
        border-radius: 3px;
        opacity: 0.8;
    }

    #navbarNavDropdown .navbar-nav a:hover {
        /*background-color: black;*/
        padding: 20px;
        border-radius: 3px;
        color: #000000;
        /*opacity: 0.8;*/
    }
}

/* --------------------------------- Start Navbar ------------------- */
header .carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fixed-top.scrolled {
    background-color: #49709a !important;
    transition: background-color 200ms linear;
    opacity: 0.9;
}

nav a {
    color: #ffffff !important;
}

nav .navbar-nav a:hover {
    color: #636a70 !important;
}

nav .dropdown-menu {
    background-color: #474C6D;
}

.navbar {
    z-index: 3;
    background-color: transparent !important;
    padding: 15px;
}

.navbar .nav-item .nav-link {
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 1em;
    text-transform: uppercase;
}

nav .navbar-brand {
    text-decoration: none;
    font-weight: 500;
}

nav .navbar-toggler {
    background-color: #d8e4ec;
}

nav .collapse .nav-item {
    margin-right: 20px;
    font-weight: 400;
}

nav .navbar-nav .nav-link {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    /*color: #000000;*/
    font-weight: bold;
}

/* ----------------------------End Navbar --------------------------- */

/*Start Aufgabe*/
.aufgaben .back {
    border: 1px solid #000000;
    padding: 20px;
    background: #e5e9ec;
    margin: 5px;

}

.aufgaben svg {
    color: #203a56;

}

.aufgaben h2 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-weight: 650;
}

.aufgaben p {
    text-align: center;
    color: #444448;
    font-size: 20px;
    font-style: initial;
}

/*Start Contact*/

/*End Contact*/
/* Start Animation*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.onloadLeftToRight {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.onloadToRightLeft {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

/* End Animation*/

/* ---------------------------------------------Start Contact Me ----------------------------------------------*/

.contact {
    background-color: rgb(37, 47, 49);
    overflow: hidden;
    padding-top: 55px;
    padding-bottom: 50px
}

.contact .info {
    width: 50%;
    float: left;
    margin-right: 5%;
}

.contact h3 {
    color: #FFF;
    margin-left: 40px
}

.contact p {
    color: rgb(130, 134, 137);
    margin-left: 40px;
    line-height: 1.6
}

.contact p strong {
    color: rgb(215, 220, 223);
}


.contact .form {
    margin-top: 36px;
    width: 45%;
    float: left;
}

.contact .form label {
    display: block;
    color: rgb(215, 220, 223);
    margin: 10px 0;
}

.contact .form input[type="text"],
.contact .form input[type="email"] {
    background-color: rgb(75, 85, 87);
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 70%;
}

.contact .form textarea {
    background-color: rgb(75, 85, 87);
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 70%;
    margin-bottom: 10px;
    height: 250px
}

.contact .form input[type="submit"] {
    background-color: rgb(25, 30, 34);
    color: #FFF;
    padding: 10px 20px;
    border: 1px;
    margin-top: 18px;
    margin-bottom: 1px
}

/* End Contact Me*/


/* -------------------------------------- Start Footer ---------------------------- */

footer {
    color: #ffffff;
    background-color: #1c2331 !important;
}

.deep-purple.accent-2 {
    background-color: #7c4dff !important;
}

.deep-purple {
    background-color: #82abff !important;
}

footer.page-footer a {
    color: #fff;
    text-decoration: none;
}

footer .footer-copyright {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------  End Footer ------------------------------------ */


